:root{
    --color-primary-rhod: #FE007F;
    --color-primary-violet: #38006B;
    --color-primary-white: #FFFFFF;

    --color-secondary-grey: #E6E6E6;
    --color-secondary-yellow: #FCCA20; 
    --color-secondary-green: #7DC268;
    --color-secondary-blue: #008CC4;
}