.button--white{
    &:link,
    &:visited{
        background-color: var(--color-primary-white);
        color: var(--color-primary-rhod);
        padding: 1rem 3rem;
    }

    &:hover{
        box-shadow: 0rem 0.5rem 3rem rgba(56, 0, 107, .5);
        animation: pulsar 1s ease infinite;
    }

    &:active{
        box-shadow: 0rem 0.5rem 2rem rgba(56, 0, 107, .3);
    }
}