.text-bold{ font-weight: 700; }

.text-center { text-align: center; }



.margin-bottom-small{ margin-bottom: 4rem; }

.margin-bottom-medium{ margin-bottom: 8rem; }

.margin-bottom-large{ margin-bottom: 12rem; }

.margin-top-small{ margin-top: 4rem; }

.margin-top-medium{ margin-top: 8rem; }

.margin-top-large{ margin-top: 12rem; }
